<div class="sandbox-place">

  <div class="sandbox-place-btn-back">
    <el-button-custom
      [inputDisabled]="false"
      [inputLabel]="'На страницу выбора режима'"
      (click)="onNavigate()"
    ></el-button-custom>
  </div>

  <div class="sandbox-place-body">
    <div class="heading">Вопрос № {{actualQuestion?.number}}:
      <br>
      <p class="font-size-heading">{{actualQuestion?.question}}</p>
    </div>
    <div class="content">
      <ng-container *ngTemplateOutlet="questionGenerate"></ng-container>
    </div>
  </div>

  <div class="sandbox-place-btn-go">
    <el-button-custom
      [inputDisabled]="false"
      [inputLabel]="'Ок! Дальше'"
      (click)="onNextQuestion()"
    ></el-button-custom>
  </div>

</div>


<ng-template #questionGenerate>
  <div class="" *ngFor="let answer of actualQuestion?.answer">
    <ng-container class="" *ngFor="let answerItem of answer | keyvalue">
      <pre class="paragraph" *ngIf="answerItem.key === SandboxDataAnswerType.Paragraph">{{answerItem.value}}</pre>
      <div class="code" *ngIf="answerItem.key === SandboxDataAnswerType.Code">
        <pre>{{answerItem.value}}</pre>
      </div>
    </ng-container>
  </div>
</ng-template>
