@import "../../../styles";

.sandbox-place {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &-btn-back {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  &-body {

    .heading {
      font-size: 14px;
      color: var(--font-color-main);
      background-color: rgba(0, 188, 212, 0.16);

      padding: 15px;
      border-radius: 15px;
      margin-bottom: 25px;
    }

    .content {
      width: 1200px;

      @media (max-width: 1250px) {
        width: 1000px;
      }
      @media (max-width: 1000px) {
        width: 600px;
      }
      @media (max-width: 650px) {
        width: 300px;
      }
    }

    .paragraph {
      margin: 10px 0;
      color: var(--font-color-main);
      font-size: 14px;

      @media (max-width: 650px) {
        font-size: 13px;
      }
    }

    .code {
      margin: 10px 0;
      padding: 15px;
      border-radius: 15px;
      background-color: #bebebe;

      @media (max-width: 650px) {
        font-size: 13px;
      }
    }

  }

  &-btn-go {
    margin-top: 25px;
  }
}
