.app.desktop {
  --font-color-main: #d3d3d3;

  --background-color: #333948;

  --theme-main-color: #00bcd4
}

.app.bot {
  //--tg-theme-bg-color
  //--tg-theme-text-color
  --font-color-main: var(--tg-theme-text-color);

  --background-color: var(--tg-theme-bg-color);

  --theme-main-color: #00bcd4
}
