@import "../../../styles";

.select-place {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  &-heading {
    width: 600px;
    margin-bottom: 25px;
    margin-top: 35px;

    @media (max-width: 650px) {
      width: 300px;
    }
  }

  &-grade {
    width: 600px;
    @media (max-width: 650px) {
      width: 300px;
    }
  }

  &-mode {
    width: 600px;
    @media (max-width: 650px) {
      width: 300px;
    }
  }

  &-btn {
    margin-top: 15px;
  }
}

