<div class="select-place">

  <div class="select-place-btn" *ngIf="!telegramPlatform">
    <el-button-custom
      [inputDisabled]="false"
      [inputLabel]="'На страницу выбора сферы'"
      (click)="onBackNavigate()"
    ></el-button-custom>
  </div>

  <div class="select-place-heading font-size-heading">Выберите Ваш уровень и желаемый режим обучения</div>

  <form [formGroup]="myForm">
    <div class="select-place-grade">
      <el-select-custom [formControlName]="'grade'"
                        [inputList]="gradeList"
                        [inputLabel]="'Ваш уровень'"
      ></el-select-custom>
    </div>
    <div class="select-place-mode">
      <el-select-custom [formControlName]="'mode'"
                        [inputList]="modeList"
                        [inputLabel]="'Режим'"
      ></el-select-custom>
    </div>
  </form>

  <div class="select-place-btn">
    <el-button-custom [inputLabel]="'Продолжить'"
                      [inputDisabled]="!(!!returnDataForm?.grade && !!returnDataForm?.mode)"
                      (click)="onNavigate()"
    ></el-button-custom>
  </div>



</div>
